@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro')
         url(../Axion/fonts/GothamPro.woff) format(woff)
         url(../Axion/fonts/GothamPro.ttf) format(ttf)
         url(../Axion/fonts/GothamPro.eot) format(eot);
    font-weight: normal;
    font-style: normal;   
} 
