@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro')
         url(../Axion/Fonts/GothamPro-Black.woff) format(woff)
         url(../Axion/Fonts/GothamPro-Black.ttf) format(ttf)
         url(../Axion/Fonts/GothamPro-Black.eot) format(eot);
    font-weight: 900;     
} 
