html {
    background: #E5E5E5;
    display: flex;
    justify-content: center;
}

.body {
    width: 1170px;
    background-color: #fff;
    font-family : 'Gotham Pro';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #fff;
    font-weight: 900;
    font-size: 12px;
    width: 1030px;
    height: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {

}

.menu {
    width: 334px;
    display: flex;
    justify-content: space-between;
}

.form__box {
    width: 178px;
    height: 20px;
    border-bottom: 1px solid #000;
    display: flex;
}

.search {
    width: 164px;
    height: 14px;
    border: none;
}

.lupa {
    height: 16px;
}

.language {
    width: 20px;
    height: 14px;
}

.language__flag {
    width: 20px;
    height: 14px;
}


.link {
    text-decoration: none;
}

.link:visited {
    color: currentColor;
}

.menu__link {

}

.signin {

}

.cart__box {
    width: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__link {

}

.circle {
    border-radius: 50%;
}

.circle__number {
    margin: 0;
    font-size: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__circle {
    background-color: black;
    width: 15px;
    height: 15px;
}

.main {
    background-color: #fff;
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hat {
    background-image: url(picture/rob-potter-422534-unsplash.png);
    width: 1030px;
    height: 281px;
    color: #fff;
    font-weight: 900;
}

.product {
    width: 1030px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__box {
    display: flex;
    justify-content: space-between;
}

.description {
    width: 1030px;
    height: 494px;
    background-color: black;
    color: #fff;
}

.stories {
    width: 1030px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stories__box {
    display: flex;
    justify-content: space-between;
}

.gallery {
    width: 1030px;
    display: flex;
    flex-wrap: wrap;
}

.gallery__box__one {
    width: 1030px;
    display: flex;
    justify-content: flex-end;
}

.gallery__hashteg {
    width: 118px;
    font-size: 18px;
    opacity: 30%;
    font-weight: 900;
}

.gallery__box__two {
    width: 1030px;
    display: flex;
}

.footer {
    background-color: black;
    width: 770px;
    height: 193px;
    padding: 70px 200px 33px 200px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer__box {
    width: 770px;
    display: flex;
    justify-content: space-between;
}

.footer__column {
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__column__title {
    font-size: 12px;
    margin: 0 0 10px 0;
}

.title_marginsix {
    margin: 6px 0;
}

.footer__column__p {
    font-size: 12px;
    margin: 0;
}

.footer__column__link {
    font-size: 12px;
}

.signup {
    width: 136px;
    height: 29px;
    border: 1.5px solid #fff;
    text-align: center;
}

.footer__column__box {
    width: 137px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__copyright {
    font-size: 12px;
}