.body {
    background: #E5E5E5;
    font-family : 'Gotham Pro';
    font-weight: 700;
}

.header {
    background-color: #fff;
    max-width: 1170px;
}

.main {
    background-color: #fff;
    max-width: 1170px;
}

.hat {
    background-image: url(picture/rob-potter-422534-unsplash.png);
    max-width: 1030px;
    min-width: 931px;
    max-height: 280px;
    min-height: 253px;
    color: #fff;
}

.description {
    background-color: black;
    color: #fff;
}

.footer {
    background-color: black;
    max-width: 1170px;
    min-width: 1024px;
}